.consulta{
    color: antiquewhite;
    text-align: justify;
    font-size: 20px;
    margin: 5rem 1rem 2rem 0rem;
}

.mapa{
    color: antiquewhite;
    text-align: center;
    font-size: 3rem;
    margin: 5rem 1rem 2rem 0rem  
}


/* .configuracion-contacto{
    width: 500px;
} */


.body-foto{
    background-image:  url("../multimedia/fondoContacto.jpg");

}

.text-color-contacto{
    text-align: center;
    color: rgba(0, 0, 0, 0.699);
}

@media (max-width: 768px){
.contenedor__articulo{
    display: none;
}


.contenedor-contacto {
    flex-direction: column;
    justify-content: center;
    align-items:center;
}
.contenedor-contacto {
    margin: 1rem 0;
    display: flex;
    width: 100%;}

.contenedor__formulario {
    width: 45%;
}
}


.section-contacto{
    width: 100%;
    text-align: center;
    font-size: 2.7rem;
    margin-top: 5rem;;
}
.section-contacto-text{
    padding: 1rem;
    background-color:rgba(106, 126, 168, 0.473);
    backdrop-filter: blur(2px);
}

.contenedor-contacto{
    margin: 1rem 0;
    width: 100%;
    display:flex;
    background-color: rgba(106, 126, 168, 0.473);
    backdrop-filter: blur(2px);
    
}

.contenedor__formulario {
    justify-content: center;
    text-align: center;
    width: 45%;
    columns: 1;
    margin: 3rem 0;

}
.contenedor__articulo {
    justify-content: center;
    text-align: center;
    width: 50%;
    columns: 1;
    padding: 3rem;    
}


