.card-color{
    background-color: $colorPrincipal;
    border-radius: 6px;
}



.config-imagen-index img{
    width: 100%;
    height: 100%;
}



.card_text{
    text-align: center;}


.card-index{
    width: 19rem;
    height: 19rem;
}