.card-color{
    background-color: $colorPrincipal;
    border-radius: 6px;
}

.carousel-index{
    width: 100%;
    height: 100%;
    position: relative;
img{
width: 100%;
height: 30%;

}
}

.carousel-index p{
    font-size: 3.5rem;
    color:rgba(255, 255, 255, 0.932);
    position: absolute;
    top: 25%;
    left: 40%;
    font-family: 'Anton', sans-serif;

}

@media (max-width: 768px){
    .navbar{
        padding: 0.3rem !important;
    }
    .carousel-index{
        width: 100%;
        height: 100%;
        position: relative;
    img{
        width: 100%;
        height: 30%;  
    }
    
    }

    .carousel-index p{
        font-size: 1.7rem;
        color:rgba(255, 255, 255, 0.932);
        position: absolute;
        top: 25%;
        left: 40%;
        font-family: 'Anton', sans-serif;
    
    }
.diseño_especialidad{
    flex-direction: column;
    justify-content: center;
    align-items:center;
}
    .diseño_especialidad img{
        width: 180px;
        height: 180px;
        display: flex;
        margin-left: 3rem;

    }
    .carousel-index{
        width: 100%;
        height: 100%;
    }
    .main_titulo{
        font-size: 3rem;
        border-bottom: $colorSecundario solid 1px;
    }
    .main_subtitulo{
        font-size: 1rem;
}
    
    .pasoApaso{
        display: none;
    }
    .estiloFooter{
        background-color: rgba(129, 140, 233, 0.589);
        padding: 0.2rem;
    }
    
}

@media (max-width: 430px){
    .navbar{
        padding: 0.3rem !important;
    }
    .carousel-index{
        width: 100%;
        height: 100%;
        position: relative;
    img{
        width: 100%;
        height: 30%;  
    }
    
    }

    .carousel-index p{
        font-size: 1.3rem;
        color:rgba(255, 255, 255, 0.932);
        position: absolute;
        top: 25%;
        left: 40%;
        font-family: 'Anton', sans-serif;
    
    }
    .carousel-index{
        width: 100%;
        height: 100%;
    }
    .main_titulo{
        font-size: 2rem;
        border-bottom: $colorSecundario solid 1px;
    }
    .main_subtitulo{
        font-size: 0.75rem;
}
    
    .pasoApaso{
        display: none;
    }
    .estiloFooter{
        background-color: rgba(129, 140, 233, 0.589);
        padding: 0.2rem;
    }
    
}




.config-imagen-index img{
    width: 100%;
    height: 100%;
}



.card_text{
    text-align: center;}


.card-index{
    width: 19rem;
    height: 19rem;
}
