.banner-producto{
    width: 100%;
    height: 100%;
    position: relative;
  img{
    width: 100%;
    height: 30%;
  }
  
  }
  
  .banner-producto p{
    font-size: 4rem;
    color:rgba(255, 255, 255, 0.897);
    position: absolute;
    top: 25%;
    left:25%;
    font-family: 'Anton', sans-serif;
  
  }

.card-productos{
  background-color: aliceblue;
  text-align: center;
  border: 3px solid $colorMenu;
  border-radius: 1.5rem;
  img{
  align-items: center;
  border-top-left-radius: 0.7rem;
  border-top-right-radius: 0.7rem;
  width: 255px;
  height: 150px;
  object-fit: cover;
  filter: brightness(80%);
  border-bottom: 3px solid $colorMenu
  }
  p {
    color: black;
  }
  h5{
    margin: 1rem;
    color: black;
  }
}

.animacion-productos{
    margin: 3rem 0rem 3rem 0rem;
    transform: translateZ(1.5rem);
    filter:contrast(80%);
    &:hover{
        filter: none;
    }
}

.card-efecto{
    
    overflow: hidden;
    img{
        transition: all 1s ease;
    }
    &:hover img{
        transform: scale(1.1);
    }
}


@media (max-width: 768px){
    .banner-producto{
        width: 100%;
        height: 100%;
        position: relative;
      img{
        width: 100%;
        height: 30%;
      }
      
      }
      
      .banner-producto p{
        font-size: 2rem;
        color:rgba(255, 255, 255, 0.897);
        position: absolute;
        top: 25%;
        left:20%;
        font-family: 'Anton', sans-serif;
      
      }
.titulo-producto{
    font-size: 1.5rem;
    align-items: center;
    color: rgb(181, 154, 231);
    border-bottom: $colorSecundario solid 3px;
}
}

@media (max-width: 430px){
    .banner-producto{
        width: 100%;
        height: 100%;
        position: relative;
      img{
        width: 100%;
        height: 30%;
      }
      
      }
      
      .banner-producto p{
        font-size: 1.7rem;
        color:rgba(255, 255, 255, 0.897);
        position: absolute;
        top: 30%;
        left:5%;
        font-family: 'Anton', sans-serif;
      
      }

.titulo-producto{
    font-size: 1.5rem;
    align-items: center;
    color: rgb(181, 154, 231);
    border-bottom: $colorSecundario solid 3px;
}
}