$colorPrincipal:#222222;
$colorMenu:#506adf;
$colorSecundario:#506adf79;
$colorLetra:antiquewhite;
$colorFooter:rgba(128, 150, 223, 0.863);
$fiesta: principal;




@import "variables";
@import "index";
@import "contacto";
@import "productos";
@import "novedades";
@import "sobre_nosotros";


@media (max-width: 768px){
.footerTexto{
    display: none;
}
.redesFlotantes{
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}
.whatsapp{
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 0.2rem;
}
}

/* CONDICIONALES */
.body{
    @if $fiesta == principal{
        background-color: $colorPrincipal;
    } @else if $fiesta == navidad{
        background-color: red;
        color: green;
    }
}

.nav-item{
--clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);
}

/* TARJETAS */
.card{
    background-color:aliceblue !important;
    color: #222222;
}
/* MAPS */

$estilos:(
    h1: white,
   h2: rgb(243, 243, 243),
    h3: rgb(170, 170, 170)
);

@each $titulos , $color in $estilos {
    .titulo{
        color: $color;
    }
    .subtitulo{
        color: $color;
    }
    .subtitulo1{
        color:rgba(0, 0, 0, 0.699);
    }

    .subsubtitulo{
    color: $color;
    text-align: center;
    }
}

/* EXTEND */

.titulo{
    font-size: 3rem;
    background-color:none;
    text-align: center;
}

.subtitulo{
    @extend .titulo;
    font-size: 2rem;
}

/* MIXINS */

@mixin sizes($ancho, $alto) {
    width: $ancho;
    height: $alto;
} 

.imagen-card{
    @include sizes(100%,100%)
}

.navbar img{
    @include sizes(50px,50px )
}

.card-img-top{
    @include sizes(100%,100% )
}
.carousel-index{
    @include sizes(100%,100% )
}
.carousel_sobre{
    @include sizes(100%,100% )
}
.carousel-novedades{
    @include sizes(100%,100% ) 
}
.banner-producto{
    @include sizes(100%,100% )  
}

.bg-color{
    background-color:$colorMenu;
}

.text-center{
    color: $colorLetra;
 }


.my-6{
    margin: 0 4rem 0 2 rem;
}

/* MAP GET */

$estiloWhatsapp:(
    posicion:fixed,
    tamaño:2.5rem,
    boton: 1rem
);
.whatsapp{
    position: map-get($estiloWhatsapp , posicion);
    right: map-get($estiloWhatsapp,tamaño);
    bottom: map-get($estiloWhatsapp,boton );

    svg{
        width: 1.5rem;
        height: 1.5rem;
        background-color: rgb(50, 238, 50);
        border-radius:0.8rem ;
        color:white;
    }
}



.navbar-expand-lg{
     .navbar-nav{ 
            .nav-link {
    color: antiquewhite;
    margin-left: 0.2rem;
        }
    }
}


.btn-primary{
    background-color: rgb(155, 146, 231) !important;
    border-color: rgb(155, 146, 231)!important;
    transition: all 0.25s ease-in-out;
}

:not(.btn-check)+.btn:hover{
    background-color: coral;
    border-color: coral;
    transform: scale(0.9);
}


.accordion-item{
    background-color: #506adf;
}

.cards-wrapper{
    display: flex;
}


                    /* FOOTER */

.estiloFooter{
    background-color:$colorFooter;
    padding: 0.2rem;
}

.footerTexto{
    color: antiquewhite;
    text-align: justify;
    font-size: 1.3rem;
    margin-left: 0.3rem;
}
.redesFlotantes{
right: map-get($estiloWhatsapp,tamaño);
bottom: map-get($estiloWhatsapp,boton );
margin-bottom: 0.7rem;
margin-left: 0.3rem;
svg{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 0.5rem;
    background-color:rgb(212, 44, 72) ;
    color: white;

}
}

.redesFlotantes1{
    bottom: map-get($estiloWhatsapp,boton);
    right: map-get($estiloWhatsapp,tamaño);
    svg{
        margin-left:0.10rem;
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 1.2rem;
        background-color:rgb(255, 255, 255);
        color: rgb(43, 43, 236);
    
    }
    }

.textH3{
    text-align: center;
    color: rgb(230, 228, 228);
}