/*OPERACIONES*/
/* .configuracion-contacto{
    width: ($cajaCompleta/2) +50;
}
 */
.card-color {
  background-color: #222222;
  border-radius: 6px; }

.config-imagen-index img {
  width: 100%;
  height: 100%; }

.card_text {
  text-align: center; }

.card-index {
  width: 19rem;
  height: 19rem; }

.consulta {
  color: antiquewhite;
  text-align: justify;
  font-size: 20px;
  margin: 5rem 1rem 2rem 0rem; }

.mapa {
  color: antiquewhite;
  text-align: center;
  font-size: 3rem;
  margin: 5rem 1rem 2rem 0rem; }

/* .configuracion-contacto{
    width: 500px;
} */
.body-foto {
  background-image: url("../multimedia/fondoContacto.jpg"); }

.text-color-contacto {
  text-align: center;
  color: rgba(0, 0, 0, 0.699); }

@media (max-width: 769px) {
  .contacto__contenedor {
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .contacto__contenedor {
    margin: 1rem 0;
    display: flex;
    width: 100%; }
  .contenedor__articulo {
    width: 100%; } }

.animacion-productos {
  margin: 3rem 0rem 3rem 0rem;
  transform: translateZ(1rem);
  filter: contrast(80%); }
  .animacion-productos:hover {
    filter: none; }

.my-6 {
  margin: 0rem 0 5rem 0; }

/* CONDICIONALES */
.body {
  background-color: #222222; }

/* BUCLES */
.item-1 {
  width: 200px;
  height: 50px;
  background-color: coral;
  border: 1px solid black; }

.item-2 {
  width: 400px;
  height: 50px;
  background-color: coral;
  border: 1px solid black; }

.item-3 {
  width: 600px;
  height: 50px;
  background-color: coral;
  border: 1px solid black; }

/* EACH */
.animal {
  background-image: url("../multimedia/animal.png"); }

.animal {
  background-image: url("../multimedia/animal.png"); }

.animal {
  background-image: url("../multimedia/animal.png"); }

/* MAPS */
.titulo, .subtitulo {
  color: white; }

.subtitulo {
  color: white; }

.subtitulo1 {
  color: rgba(0, 0, 0, 0.699); }

.subsubtitulo {
  color: white;
  text-align: center; }

.titulo, .subtitulo {
  color: #dfe1e2; }

.subtitulo {
  color: #dfe1e2; }

.subtitulo1 {
  color: rgba(0, 0, 0, 0.699); }

.subsubtitulo {
  color: #dfe1e2;
  text-align: center; }

.titulo, .subtitulo {
  color: #aaaaaa; }

.subtitulo {
  color: #aaaaaa; }

.subtitulo1 {
  color: rgba(0, 0, 0, 0.699); }

.subsubtitulo {
  color: #aaaaaa;
  text-align: center; }

/* EXTEND */
.titulo, .subtitulo {
  font-size: 3rem;
  background-color: none;
  text-align: center; }

.subtitulo {
  font-size: 2rem; }

/* MIXINS */
.card img {
  width: 100%;
  height: 100%; }

.navbar img {
  width: 50px;
  height: 50px; }

.card-img-top {
  width: 100%;
  height: 100%; }

.bg-color {
  background-color: #506adf; }

.text-center {
  color: antiquewhite; }

.d-flex {
  color: antiquewhite; }

.card-efecto {
  overflow: hidden; }
  .card-efecto img {
    transition: all 1s ease; }
  .card-efecto:hover img {
    transform: scale(1.1); }

/* MAP GET */
.whatsapp {
  position: fixed;
  right: 3rem;
  bottom: 1rem; }
  .whatsapp img {
    width: 1.5rem; }

.navbar-expand-lg .navbar-nav .nav-link {
  color: antiquewhite; }

.btn-primary {
  background-color: coral !important;
  border-color: coral !important;
  transition: all 0.25s ease-in-out; }

:not(.btn-check) + .btn:hover {
  background-color: coral;
  border-color: coral;
  transform: scale(0.9); }

.contenedor-contacto {
  margin: 1rem 0;
  width: 100%;
  display: flex;
  background-color: rgba(106, 126, 168, 0.473);
  backdrop-filter: blur(2px); }

.contenedor__formulario {
  justify-content: center;
  text-align: center;
  width: 40%;
  columns: 1;
  margin: 3rem 0; }

.contenedor__articulo {
  justify-content: center;
  text-align: center;
  width: 50%;
  columns: 1;
  padding: 3rem; }

.accordion-item {
  background-color: #506adf; }

.cards-wrapper {
  display: flex; }

/* FOOTER */
.estiloFooter {
  background-color: rgba(128, 150, 223, 0.39);
  padding: 0.5rem; }

.footerTexto {
  color: antiquewhite;
  text-align: justify;
  font-size: 20px; }

.redesFlotantes {
  right: 3rem;
  bottom: 1rem; }
  .redesFlotantes img {
    width: 1.5rem; }

.textH3 {
  text-align: center;
  color: #e6e4e4; }
